:root {
    --preto-claro: rgb(32, 32, 32);
    --vermelho: rgb(206, 40, 40);
    --branco: rgb(197, 197, 197);
    --cinzinha: rgba(185, 185, 185, 0.596);
    --cabecario: rgb(39, 39, 39);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--preto-claro);
    color: var(--cinzinha);
}


/*Header*/

.cabecario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cabecario);
}

.cabecario p {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--vermelho);
    margin-left: 15px;
}

.cabecario div a {
    margin-left: 10px;
    margin-right: 20px;
    color: var(--cinzinha);
}

.cabecario div a:hover {
    color: var(--branco);
}


/*Recomendado*/

.top-main {
    display: flex;
}

.top-img img {
    max-height: 350px;
}